button {
  background-color: #22262a;
  color: white;
  border: #13161a;
  border-radius: 2px;
  padding: 5px 25px;
}

button:hover {
  cursor: pointer;
  background-color: #13161a;
}

.button-pale-default {
  background-color: rgba(34, 38, 42, 0.2);
  color: rgba(34, 38, 42);
  border: rgba(34, 38, 42);
}
.button-pale-default:hover {
  background-color: rgba(34, 38, 42, 0.2);
  color: rgba(34, 38, 42);
  border: rgba(34, 38, 42);
}

.button-primary {
  background-color: #33a0ff;
  color: white;
  border: #33a0ff;
}

.button-pale-primary {
  background-color: rgba(51, 160, 255, 0.2);
  color: rgba(51, 160, 255, 1);
  border: rgba(51, 160, 255, 1);
}
.button-pale-primary:hover {
  background-color: rgba(51, 160, 255, 0.2);
  color: rgba(51, 160, 255, 1);
  border: rgba(51, 160, 255, 1);
}

.button-primary:hover {
  cursor: pointer;
  background-color: #2e90e5;
}

.button-danger {
  background-color: #ff4858;
  color: white;
  border: #ff4858;
}

.button-pale-danger {
  background-color: rgba(255, 72, 88, 0.2);
  color: rgba(255, 72, 88, 1);
  border: rgba(255, 72, 88);
}
.button-pale-danger:hover {
  background-color: rgba(255, 72, 88, 0.2);
  color: rgba(255, 72, 88, 1);
  border: rgba(255, 72, 88);
}

.button-danger:hover {
  cursor: pointer;
  background-color: #f53848;
}

.button-warning {
  background-color: #ffc600;
  color: white;
  border: #ffc600;
}

.button-pale-warning {
  background-color: rgba(255, 198, 0, 0.2);
  color: rgba(255, 198, 0, 1);
  border: rgba(255, 198, 0, 1);
}
.button-pale-warning:hover {
  background-color: rgba(255, 198, 0, 0.2);
  color: rgba(255, 198, 0, 1);
  border: rgba(255, 198, 0, 1);
}

.button-warning:hover {
  cursor: pointer;
  background-color: #ebb600;
}

.button-success {
  background-color: #0ad00a;
  color: white;
  border: #0ad00a;
}

.button-pale-success {
  background-color: rgba(10, 208, 10, 0.2);
  color: rgba(10, 208, 10, 1);
  border: rgba(10, 208, 10);
}
.button-pale-success:hover {
  background-color: rgba(10, 208, 10, 0.2);
  color: rgba(10, 208, 10, 1);
  border: rgba(10, 208, 10);
}

.button-success:hover {
  cursor: pointer;
  background-color: #07c107;
}

.button-inverse {
  background-color: white;
  color: black;
  border: black;
}
.button-inverse:hover {
  background-color: white;
  color: black;
  border: black;
}

.button-large {
  padding: 10px 30px;
}

.button-inverse-primary {
  background-color: white;
  color: #33a0ff;
  border: 1px solid #33a0ff;
}
.button-inverse-primary:hover {
  background-color: white;
  color: #33a0ff;
  border: 1px solid #33a0ff;
}

.button-inverse-danger {
  background-color: white;
  color: #ff4858;
  border: 1px solid #ff4858;
}
.button-inverse-danger:hover {
  background-color: white;
  color: #ff4858;
  border: 1px solid #ff4858;
}

.button-inverse-success {
  background-color: white;
  color: #0ad00a;
  border: 1px solid #0ad00a;
}
.button-inverse-success:hover {
  background-color: white;
  color: #0ad00a;
  border: 1px solid #0ad00a;
}
.button-inverse-warning {
  background-color: white;
  color: #ffc600;
  border: 1px solid #ffc600;
}
.button-inverse-warning:hover {
  background-color: white;
  color: #ffc600;
  border: 1px solid #ffc600;
}

.button-inverse-default {
  background-color: white;
  color: #13161a;
  border: 1px solid #13161a;
}
.button-inverse-default:hover {
  background-color: white;
  color: #13161a;
  border: 1px solid #13161a;
}
