.voucher-complete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  font-family: Arial;
  font-size: 12px;
}

.medium-voucher {
  height: 50px;
}

.small-voucher {
  height: 30px;
}

.redeem-label {
  border-radius: 0px 5px 5px 0px;
  background-color: #33a0ff;
  color: white;
  width: 100px;
  border: 2px solid #33a0ff;
}
.redeem-label:hover {
  background-color: #33a0ff;
}

.voucher-input {
  color: black;
  /* color: rgb(250, 250, 251); */
}
